<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wagony</title>
    <style>
        #drop_zone {
          border: 10px dashed red;
          width: 200px;
          height: 100px;
        }

    </style>
    <script>
        function prevent_default(event) {
            console.log("Prevented default action on body file drop")
            event.preventDefault()
            event.stopPropagation()
        }

        function dropHandler(ev) {
          ev.preventDefault();
          ev.stopPropagation()
          if (ev.dataTransfer.items) {
            [...ev.dataTransfer.items].forEach((item, i) => {
            const file = item.getAsFile()
            console.log(`… file[${i}].name = ${file.name}`)
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open( "POST", "file_upload_action", true ); // false for synchronous request
            xmlHttp.send( null );
            return xmlHttp.responseText;
            })
          }
        }
    </script>
</head>
<body ondrop="prevent_default(event);">
<!--    <div id="drop_zone" ondrop="dropHandler(event)" ondragover="prevent_default(event)" ondragenter="prevent_default(event)">-->
<!--      <p>Upuść obraz w celu ekstrakcji tekstu</p>-->
<!--    </div>-->

    <form method="POST" action="" enctype="multipart/form-data">
      <p><input type="file" name="file" accept="image/*" multiple></p>
      <p><input type="submit" value="Submit"></p>
    </form>

    <ul id="response">
    {% for item in resp %}
        <li>{{ item }}</li>
    {% endfor %}
    </ul>
</body>
</html>